.WidgetLargeButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.WidgetLargeButton.Approved{
    background-color: #e5faf2;
    color: #3bb077;
}

.WidgetLargeButton.Declined{
    background-color: #fff0f1;
    color: #d95087;
}

.WidgetLargeButton.Pending{
    background-color: #ebf1fe;
    color: #2a7ade;
}